<div class="container">
<h1>Log in</h1>

 <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |u| %>
	<div class="form-group">
		<label>Email: </label>
		<%= u.text_field :email, type: "email", class: "form-control"%>
	</div>

	<div class="form-group">
		<label>Password: </label>
		<%= u.password_field :password, type: "password", class: "form-control"%>
	</div>

	<div class="form-group">
		<%= u.submit class: "btn btn-info btn-default", value: "login" %>
	</div>
<% end %>
</div>