<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    ACCEUIL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
      <li class="nav-item dropdown">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <span class="dropdown-item"> <li><%= link_to "Mon Profil", user_path(current_user) %></li></span>
          <div class="dropdown-divider"></div>
          <span class="dropdown-item"> <li><%= link_to "Se déconnecter", logout_path, method: :delete %></li></span>
        </div>
      </li>
       <% else %>
          <li><%= link_to "Se connecter", login_path %></li>
          <li><%= link_to "S'inscrire", signup_path %></li>
        <% end %>
    </ul>
  </div>
</nav>